<h1 class="text-center">User Account List</h1>

<table id="userTable" class="table table-striped" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>User Name</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Primary Account</th>
			<th>Savings Account</th>
			<th>Enabled</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of userList">
			<td>{{user.username}}</td>
			<td>{{user.firstName}}</td>
			<td>{{user.lastName}}</td>
			<td>{{user.email}}</td>
			<td>{{user.phone}}</td>
			<td><a (click)="onSelectPrimary(user.username)" style="cursor: pointer;">{{user.primaryAccount.accountBalance}}</a></td>
			<td><a (click)="onSelectSavings(user.username)" style="cursor: pointer;">{{user.savingsAccount.accountBalance}}</a></td>
			<td>{{user.enabled}}</td>
			<td [hidden]="user.enabled"><a (click)="enableUser(user.username)" class="btn btn-info">Enable</a></td>
			<td [hidden]="!user.enabled"><a (click)="disableUser(user.username)" class="btn btn-danger">Disable</a></td>
		</tr>
	</tbody>
</table>   

