<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:fragment="common-header">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title layout:title-pattern="$CONTENT_TITLE  $LAYOUT_TITLE">::Desh
	Bank</title>

<!-- Bootstrap Core CSS -->
<link rel="stylesheet"
	href="webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css}">

<link rel="stylesheet" th:href="@{/userfront/css/metisMenu.min.css}"
	href="userfront/css/metisMenu.min.css">

<link rel="stylesheet" th:href="@{/userfront/css/sb-admin-2.css}"
	href="userfront/css/sb-admin-2.css">

<link rel="stylesheet" th:href="@{/userfront/css/morris.css}"
	href="userfront/css/morris.css">

<link rel="stylesheet" th:href="@{/userfront/css/font-awesome.min.css}"
	href="userfront/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/userfront/fonts}"
	href="userfront/fonts">

<!-- dataTables css-->
<link rel="stylesheet" th:href="@{/userfront/css/datatables.min.css}"
	href="userfront/css/datatables.min.css">
<link rel="stylesheet"
	th:href="@{/userfront/css/dataTables.bootstrap.css}"
	href="userfront/css/dataTables.bootstrap.css">
<!-- <link rel="stylesheet"
	th:href="@{/userfront/css/dataTables.responsive.css}"
	href="userfront/css/dataTables.responsive.css"> -->
<link rel="stylesheet"
	th:href="@{/userfront/css/bootstrap-datetimepicker.min.css}"
	href="userfront/css/bootstrap-datetimepicker.min.css">


</head>

<div th:fragment="body-bottom-scripts">
	<script src="webjars/jquery/3.3.1/dist/jquery.min.js"
		th:href="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
	<script src="webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js"
		th:href="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js}"></script>

	<script th:href="@{/userfront/js/metisMenu.min.js}"
		src="userfront/js/metisMenu.min.js"></script>
	<script th:href="@{/userfront/js/raphael.min.js}"
		src="userfront/js/raphael.min.js"></script>
	<script th:href="@{/userfront/js/morris.min.js}"
		src="userfront/js/morris.min.js"></script>
	<script th:href="@{/userfront/js/morris-data.js}"
		src="userfront/js/morris-data.js"></script>
	<script th:href="@{/userfront/js/sb-admin-2.js}"
		src="userfront/js/sb-admin-2.js"></script>

	<!-- dataTables js -->
	<script th:href="@{/userfront/js/jquery.dataTables.min.js}"
		src="userfront/js/jquery.dataTables.min.js"></script>

	<!-- <script th:href="@{/userfront/js/dataTables.min.js}"
		src="userfront/js/dataTables.min.js"></script>

	<script th:href="@{/userfront/js/dataTables.bootstrap.min.js}"
		src="userfront/js/dataTables.bootstrap.min.js"></script>

	<script th:href="@{/userfront/js/dataTables.responsive.js}"
		src="userfront/js/dataTables.responsive.js"></script> -->
		
		
		<script th:href="@{/userfront/js/bootbox.min.js}"
		src="userfront/js/bootbox.min.js"></script>

	<script th:href="@{/userfront/js/Moment.js}"
		src="userfront/js/Moment.js"></script>

	<script th:href="@{/userfront/js/bootstrap-datetimepicker.min.js}"
		src="userfront/js/bootstrap-datetimepicker.min.js"></script>

	<script th:href="@{/userfront/js/custom.js}"
		src="userfront/js/custom.js"></script>

</div>
</html>