
<div class="sidebar-nav navbar-collapse">
	<ul class="nav" id="side-menu">
		<li class="sidebar-search">
			<div class="input-group custom-search-form">
				<input type="text" class="form-control" placeholder="Search...">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</li>
		<li><a th:href="@{/userfront}"><i
				class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
		<li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>
				Accounts<span class="fa arrow"></span></a>
			<ul class="nav nav-second-level">
				<li><a th:href="@{/primaryAccount}">Primary</a></li>
				<li><a th:href="@{/savingsAccount}">Savings</a></li>
			</ul></li>
		<li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>
				Transfer<span class="fa arrow"></span></a>
			<ul class="nav nav-second-level">
				<li><a th:href="@{/betweenAccounts}">Between
						Accounts</a></li>
				<li><a th:href="@{/toSomeoneElse}">Top Someone
						Else</a></li>
				<li><a th:href="@{/recipient}">Add/Edit Receipt</a></li>
			</ul></li>
		<li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>
				Appointment<span class="fa arrow"></span></a>
			<ul class="nav nav-second-level">
				<li><a th:href="@{/appointmentCreate}">Schedule an
						Appointment</a></li>
			</ul></li>
	</ul>
</div>

