<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<body>
	<nav th:fragment="common-navbar"
		class="navbar navbar-default navbar-static-top" role="navigation"
		style="margin-bottom: 0">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" th:href="@{/userfront}">DESH BANK</a>
		</div>
		<!-- /.navbar-header -->

		<ul class="nav navbar-top-links navbar-right"
			th:replace="userfront/commons/top_menu">
		</ul>
		<!-- /.navbar-top-links -->

		<div class="navbar-default sidebar" role="navigation">
			<div class="sidebar-nav navbar-collapse"
				th:replace="userfront/commons/left_menu"></div>
			<!-- /.sidebar-collapse -->
		</div>
		<!-- /.navbar-static-side -->
	</nav>
</body>
</html>