<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/userfront}" lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Recipient</title>
</head>

<body>
	<div id="page-wrapper" layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Forms</h1>
			</div>
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Recipient</div>
					<div class="panel-body">
						<div class="row">
							<form class="form-horizontal"
								th:action="@{/recipient/save}" method="post">
								<input type="hidden" name="id" th:value="${recipient.id}" />
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">Name</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="inputEmail3"
											placeholder="" th:value="${recipient.name}" name="name"
											required="required">
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="inputEmail3"
											placeholder="" th:value="${recipient.email}" name="email"
											required="required">
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">Phone</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="inputEmail3"
											placeholder="" th:value="${recipient.phone}" name="phone"
											required="required">
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">Account
										Number</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="inputEmail3"
											placeholder="" th:value="${recipient.accountNumber}"
											name="accountNumber" required="required">
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">Description</label>
									<div class="col-sm-6">
										<textarea type="text" class="form-control" id="inputEmail3"
											placeholder="" th:value="${recipient.description}"
											name="description" required="required"></textarea>
									</div>
								</div>
								<input type="hidden" class="form-control"
									name="${_csrf.parameterName}" value="${_csrf.token}" />
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button type="submit" class="btn btn-info">Add
											Recipient</button>
									</div>
								</div>
							</form>
						</div>
						<!-- /.row (nested) -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<br />
		<div class="row">
			<h3>List of Recipients</h3>
			<div class="table-responsive">
				<table class="table table-bordered table-hover table-striped">
					<thead>
						<tr>
							<th>Recipient Name</th>
							<th>Recipient Email</th>
							<th>Recipient Phone</th>
							<th>Recipient Account Number</th>
							<th>Description</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr data-th-each="eachRecipient : ${recipientList}">
							<td><a data-th-text="${eachRecipient.name}"
								th:href="@{/transfer/recipient/edit?recipientName=}+${eachRecipient.name}">...</a></td>
							<td data-th-text="${eachRecipient.email}">...</td>
							<td data-th-text="${eachRecipient.phone}">...</td>
							<td data-th-text="${eachRecipient.accountNumber}">...</td>
							<td data-th-text="${eachRecipient.description}">...</td>
							<td><a
								th:href="@{/transfer/recipient/delete?recipientId=}+${eachRecipient.id}" class="btn btn-danger">delete</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</body>

</html>
