<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Login</title>
</head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<b>Desh Bank</b>
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body" layout:fragment="content">
			<div th:if="${param.error}">Invalid username and password.</div>
			<div th:if="${param.logout}">You have been logged out.</div>
			<form th:action="@{/index}" method="post">
				<div class="form-group has-feedback">
					<input type="text" class="form-control" placeholder="Username"
						name="username"> <span
						class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" class="form-control" placeholder="Password"
						name="password"> <span
						class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-8">
						<div class="checkbox icheck">
							<label> <input type="checkbox" name="remember-me"
								id="remember-me"> Remember Me
							</label>
						</div>
					</div>
					<div class="col-xs-4">
						<button type="submit"
							class="btn btn-primary btn-block btn-flat pull-right">SignIn</button>
					</div>
					<!-- /.col -->
				</div>
			</form>
			<a th:href="@{/register}" class="text-center">Register a new
				account</a>
		</div>
		<!-- /.login-box-body -->
	</div>
	<!-- /.login-box -->
</body>
</html>
