<h1>Savings Account Transaction List</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Post Date</th>
                <th>Description</th>
                <th>Type</th>
                <th>Status</th>
                <th>Amount</th>
                <th>Available Balance</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let savingsTransaction of savingsTransactionList">
			<td>{{savingsTransaction.date | date: 'MM/dd/yyyy'}} </td>
			<td>{{savingsTransaction.description}}</td>
			<td>{{savingsTransaction.type}}</td>
			<td>{{savingsTransaction.status}}</td>
			<td>{{savingsTransaction.amount}}</td>
			<td>{{savingsTransaction.availableBalance}}</td>
		</tr>
	</tbody>
</table> 
