<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/login" routerLinkActive="active" >Admin Portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [style.display]="getDisplay()">
        <a class="nav-link"  routerLink="/userAccount" routerLinkActive="active">User Account <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [style.display]="getDisplay()">
        <a class="nav-link" routerLink="/appointment" routerLinkActive="active">Appointment <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="nav navbar-nav" navbar-right>
      <li class="nav-item" [style.display]="getDisplay()">
        <a class="nav-link" href="#" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>