<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title layout:title-pattern="$CONTENT_TITLE  $LAYOUT_TITLE">::Desh
	Bank</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet"
	href="webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css}">

<!-- Font Awesome -->
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"
	href="css/font-awesome.min.css">

<!-- Ionicons -->
<link rel="stylesheet" th:href="@{/css/ionicons.min.css}"
	href="css/ionicons.min.css">

<!-- Theme style -->
<link rel="stylesheet" th:href="@{/css/AdminLTE.min.css}"
	href="css/AdminLTE.min.css">

<link rel="stylesheet" th:href="@{/css/blue.css}" href="css/blue.css">


<!-- Google Font -->
<link rel="stylesheet" th:href="@{/css/google-font.css}"
	href="css/google-font.css">

</head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<b>Desh Bank</b>
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body" layout:fragment="content"></div>
		<!-- /.login-box-body -->
	</div>
	<!-- /.login-box -->
	<script src="webjars/jquery/3.3.1/dist/jquery.min.js"
		th:href="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
	<script src="webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js"
		th:href="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js}"></script>

	<!-- iCheck -->
	<script th:href="@{/js/jquery.min.js}" src="js/icheck.min.js"></script>
	
	<script>
		$(function() {
			$('input').iCheck({
				checkboxClass : 'icheckbox_square-blue',
				radioClass : 'iradio_square-blue',
				increaseArea : '20%' /* optional */
			});
		});
	</script>
</body>
</html>
